@import '../node_modules/angular-notifier/styles';

.invalidField {
  border: 1px solid red;
}

#cover {
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

.myCustomModalClass .modal-dialog {
  max-width: 80%;
}



.file-input {
  border-radius: 5px;
  border: 1px solid #eaeaea;
  overflow: hidden;
}

.file-name{
  padding: 10px 5px;
}

.select-button{
   padding: 10px 5px;
   background: #fafafa;
   text-align: center;
   color: #999999;
   cursor: pointer;
}

.select-button:hover{
   background: #cccccc;
   color: #fafafa;
}


.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-h-50-pct{
  -webkit-flex: 0 0 50% !important; /* Safari 6.1+ */
  -ms-flex: 0 0 50%  !important; /* IE 10 */
  flex: 0 0 50% !important;
  max-width: 50%  !important;
  min-width: 0;
  min-height: 0;
}

.flex-h-10{
  -webkit-flex: 0 0 10px !important; /* Safari 6.1+ */
  -ms-flex: 0 0 10px !important; /* IE 10 */
  flex: 0 0 10px !important;
  max-width: 10px;
  width: 10px;
  min-width: 0;
  min-height: 0;
}

.flex-h-fill-remaining{
  flex: 1 1 auto;
  min-width: 0;
}


.truncate {
  min-width: 0;
  position: relative;
  max-width: 100%;

  & * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

a:hover {
cursor: pointer;

}

input.search {
  padding-left:40px;
  background-repeat: no-repeat;
  background-position-y: 5px;
  background-position-x: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABsUlEQVRIidWUv25TMRSHv2MlsXTV0I0XIPAEiBn2IlTEC5DFvkOlsvBngRIWKiSKVCF7gp1KUAhvAfQBUHkCGAoiYkikw1BHROm9+Kbt0t9kWf6d75zjY8NZl1RthhDOi8gasAJcTNtfVfWjtXa73+9/PzYgxngLeAV0azy/gNve+7dNAKYi+JsUfNcYc7UoiqWiKJZU9RrwHjgH7IQQVheqILVlH+iKyF3n3LMqQ4zxHvAU+CkiPefcj0YVpJ53gd264ADe+01gCCyr6lqugtkWXQcwxrzImURka9bTFHABYDwef8mZWq3W57TsLQLQ3OGpRqNR5XjnAN8AjDGXc6Z2uz09s98YoKpDABFZz5lE5E7yfGgMsNZuc/iIbqRRrFSM8QGHL/zAWvsym8yc+Sawk8BDEdmaTCafAIwxV1LmK6mKh865JwsBAEIIqyLyGliu8RyIyHNVHQCo6uOyLDfqAGZ+oyzLdyLSAwbAHvAbGKX1oNPpXJrNXEQehRBqAY3HbV4zX8ZUm977+6cGaAo5EaAJ5MSAHOTIJR9H6Yf9l7XIn9OIe0QhhI3/TdTZ1F+wxosqcdwjUQAAAABJRU5ErkJggg==);
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

